
@font-face {
    font-family: 'yofont';
    src: url('/iconfonts/iconfont.eot');
    src: url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/iconfonts/iconfont.woff') format('woff'),
    url('/iconfonts/iconfont.ttf') format('truetype'),
    url('/iconfonts/iconfont.svg#iconfont') format('svg');
}
#root{
    height: 100%;
    header{
        height: .44rem;
        background: #ff666b;
        @include flexbox();
        color: #fff;
        @include align-items(center);
        i{
            font-size: .18rem;
            width: .44rem;
            text-align: center;            
        }
        span{
            @include flex();
            font-size: .2rem;
            text-align: center;
        }
    }
    nav{
        height: .4rem;
        overflow-y: scroll;
        // @include flexbox();
        background: #fff;
        // @include box-shadow(0 1px 3px rgba(0,0,0,.3));
        >ul{
            // @include flex();
            color: #222;
            height: 100%;
            width: 660px;
            // @include flex-wrap(nowarp);
            li{
                float: left;
                padding: 10px;
            }
        }
    }
}
