@font-face {
    font-family: 'yofont';
    src: url('/iconfonts/iconfonts/iconfont.eot');
    src: url('/iconfonts/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/iconfonts/iconfonts/iconfont.woff') format('woff'),
    url('/iconfonts/iconfonts/iconfont.ttf') format('truetype'),
    url('/iconfonts/iconfonts/iconfont.svg#iconfont') format('svg');
}

@font-face {
    font-family: 'yofont';
    src: url('/iconfonts/iconfonts1/iconfont.eot');
    src: url('/iconfonts/iconfonts1/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/iconfonts/iconfonts1/iconfont.woff') format('woff'),
    url('/iconfonts/iconfonts1/iconfont.ttf') format('truetype'),
    url('/iconfonts/iconfonts1/iconfont.svg#iconfont') format('svg');
}
body{
    background: #f9f9f9;
}
#root{
    height: 100%;
}
.homepage{
    height: 100%;
    overflow-y: scroll;
    header{
        height: .44rem;
        @include flexbox();
        @include align-items(center);
        >div:first-child{
            width: .44rem;
            line-height: .44rem;
            text-align: center;
        }
        >div:nth-child(2){
            width: 2.8rem;
            height: .32rem;
            line-height: .32rem;
            color: #ddd;
            padding-left: .18rem;
            @include border(1px, #ddd, solid, 4px);
            >i{
                margin-right: .09rem;
            }
        }
        >i{
            margin-left: .12rem;
            font-size: .24rem;
        }
    }
    main{
        @include flex();
        width: 100%;
        background: #fff;
        .banner{
            height: 2.05rem;
        }
        .downClient{
            display: block;
            height: .48rem;
            line-height: .48rem;
            padding-left: .12rem;
            color: #444;
            span{
                display: inline-block;
                vertical-align: middle;
                width: .32rem;
                height: .32rem;
                background: url('../images/zrLogoSmall.png')no-repeat center;
                background-size: cover;
                margin-right: .1rem;
            }
        }
        .logo{
            height: .79rem;
            padding: .25rem 0 .25rem;
            @include flexbox();
            @include justify-content(center);
            img{
                width: .85rem;
                height: .25rem;
            }
        }
    }
    footer{
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        .down{
            @include flexbox();
            @include justify-content(center);
            width: 3.4rem;
            height: .64rem;
            background: #fff;
            @include border(1px, #ccc, solid, 4px);
            margin-top: .12rem;
            >a{
                line-height: .64rem;
                padding-left: .12rem;
                color: #444;
                font-size: .12rem;
                span{
                    display: inline-block;
                    vertical-align: middle;
                    width: .32rem;
                    height: .32rem;
                    background: url('../images/zrLogoSmall.png')no-repeat center;
                    background-size: cover;
                    margin-right: .1rem;
                }
            }
        }
        .subnav1,.subnav2{
            @include flexbox();
            @include justify-content(space-between);
            width: 2.04rem;
            height: .16rem;
            font-size: .12rem;
            color: #999;
            margin: .24rem .67rem .14rem;
            .borderleft{
                @include border(0 0 0 1px,#eee,solid);
            }
            span{
                width: 33.3%;
                text-align: center;
            }
        }
        .subnav2{
            span{
                width: 50%;
            }
        }
        >p{
            width: 3.4rem;
            height: .36rem;
            line-height: .36rem;
            color: #ccc;
            font-size: .13rem;
            text-align: center;
            @include border(1px 0 0 0,#eee,solid);
        }
    }
}