<div id="main">
    <div class="back">
        <=
    </div>
    <div class="ad">
        <div class="slide-swiper">
            <div class="slide-group">
                <div class="slide-item">
                    <img src="{{photos_min}}">
                </div>
                <div class="slide-item">
                    <img src="{{photos_min_webp}}">
                </div>
                <div class="slide-item">
                    <img src="{{photos_big}}">
                </div>
                <div class="slide-item">
                    <img src="{{photos_big_webp}}">
                </div>
            </div>
        </div>
    </div>
</div>