<!-- 自如友家 -->
<div class="zryjbox c-box">
        <div>
            <h3>自如友家</h3>
            <a href="">查看更多<i></i></a>
        </div>
        <div>
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
    <!-- 自如整租 -->
    <div class="zrzzbox c-box">
        <div>
            <h3>自如整租</h3>
            <a href="">查看更多<i></i></a>
        </div>
        <div>

        </div>
    </div>
    <!-- 自如寓 -->
    <div class="ziruyubox c-box">
        <div>
            <h3>自如寓</h3>
            <a href="">查看更多<i></i></a>
        </div>
        <div>

        </div>
    </div>
    <!-- 自如民宿 -->
    <div class="zrmsbox c-box">
        <div>
            <h3>自如民宿</h3>
            <a href="">查看更多<i></i></a>
        </div>
        <div>

        </div>
    </div>
    <!-- 自如驿 -->
    <div class="ziruyibox c-box">
        <div>
            <h3>自如驿</h3>
            <a href="">查看更多<i></i></a>
        </div>
        <div>

        </div>
    </div>
    <!-- 自如服务 -->
    <div class="zrfwbox c-box">
        <div>
            <h3>自如服务</h3>
            <a href="">查看更多<i></i></a>
        </div>
        <div>

        </div>
    </div>