<!-- 自如友家 -->
<div class="zryjbox c-box">
    <div>
        <h3>自如友家</h3>
        <a href="#more">查看更多<i></i></a>
    </div>
    <div>
        <ul>
            {{#each data}}
            <li>
                <a href="#detail">
                    <img src="http://{{list_img}}">
                    <div>
                        <h2>
                            <span class="price">¥{{sell_price}}/月 </span>
                            <span class="title">{{title}}</span>
                        </h2>
                        <p>[{{area_name}}] {{subway_line_code_first}} {{subway_station_code_first}}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<!-- 自如整租 -->
<div class="zrzzbox c-box">
    <div>
        <h3>自如整租</h3>
        <a href="">查看更多<i></i></a>
    </div>
    <div>
        <ul>
            {{#each data}}
            <li>
                <a href="#detail">
                    <img src="http://{{list_img}}">
                    <div>
                        <h2>
                            <span class="price">¥{{sell_price}}/月 </span>
                            <span class="title">{{title}}</span>
                        </h2>
                        <p>[{{area_name}}] {{subway_line_code_first}} {{subway_station_code_first}}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<!-- 自如寓 -->
<div class="ziruyubox c-box">
    <div>
        <h3>自如寓</h3>
        <a href="">查看更多<i></i></a>
    </div>
    <div>
        <ul>
            {{#each data}}
            <li>
                <a href="">
                    <img src="http://{{list_img}}">
                    <div>
                        <h2>
                            <span class="price">¥{{sell_price}}/月 </span>
                            <span class="title">{{title}}</span>
                        </h2>
                        <p>[{{area_name}}] {{subway_line_code_first}} {{subway_station_code_first}}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<!-- 自如民宿 -->
<div class="zrmsbox c-box">
    <div>
        <h3>自如民宿</h3>
        <a href="">查看更多<i></i></a>
    </div>
    <div>
        <ul>
            {{#each data}}
            <li>
                <a href="">
                    <img src="http://{{list_img}}">
                    <div>
                        <h2>
                            <span class="price">¥{{sell_price}}/月 </span>
                            <span class="title">{{title}}</span>
                        </h2>
                        <p>[{{area_name}}] {{subway_line_code_first}} {{subway_station_code_first}}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<!-- 自如驿 -->
<div class="ziruyibox c-box">
    <div>
        <h3>自如驿</h3>
        <a href="">查看更多<i></i></a>
    </div>
    <div>
        <ul>
            {{#each data}}
            <li>
                <a href="">
                    <img src="http://{{list_img}}">
                    <div>
                        <h2>
                            <span class="price">¥{{sell_price}}/月 </span>
                            <span class="title">{{title}}</span>
                        </h2>
                        <p>[{{area_name}}] {{subway_line_code_first}} {{subway_station_code_first}}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>