<div class="banner">

</div>
<nav>
    <ul>
        <li>
            <img src="https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png">
            <span>演唱会</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png">
            <span>演唱会</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png">
            <span>演唱会</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png">
            <span>演唱会</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png">
            <span>演唱会</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png">
            <span>演唱会</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png">
            <span>演唱会</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png">
            <span>演唱会</span>
        </li>
    </ul>
</nav>