<div class="homepage">
    <header>
        <div>
            <span>北京</span>
        </div>
        <div>
            <span>输入您想住的区域或小区</span>
        </div>
        <div>
            <i class="yo-ico">&#xe62f;</i>
        </div>
    </header>
    <main>
        <!-- 轮播图 -->
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="http://image.ziroom.com/g2m1/M00/DA/2B/ChAFBluwkFiATnFtAAEg8lWKIbE264.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://image.ziroom.com/g2/M00/99/C4/ChAFD1rdvD2AAW2FAAEAvloDzC8507.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://image.ziroom.com/g2/M00/CE/6C/ChAFfVr-NR2AIOxDAAHEGRYkrh4848.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://image.ziroom.com/g2/M00/F8/21/ChAFfVsV_ieAYErzAAHz1Auwmlg995.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://image.ziroom.com/g2/M00/65/F0/ChAFfVq8ZmqAcUl1AAHoLmS5qPY437.jpg">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <a class="downClient">
            <span></span>
            下载自如APP,立即签约好房源
        </a>

        <!-- 渲染数据 -->
        <div class="contents"></div>

        <!-- 自如服务 -->
        <div class="zrfwbox c-box">
            <div>
                <h3>自如服务</h3>
                <a href="">查看更多<i></i></a>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="">
                            <img src="http://static8.ziroom.com/phoenix/msite/2016/img/banjia.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://static8.ziroom.com/phoenix/msite/2016/img/baojie.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://static8.ziroom.com/phoenix/msite/2016/img/jiaxiu.jpg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logo">
            <img src="//static8.ziroom.com/phoenix/msite/2016/img/logo.png">
        </div>
    </main>
    <footer>
        <div class="down">
            <a>
                <span></span>
                下载自如APP,立即签约好房源
            </a>
        </div>
        <div class="subnav1">
            <span>电脑版</span>
            <span class="borderleft">触屏版</span>
            <span class="borderleft">客户端</span>
        </div>
        <div class="subnav2">
            <span>首页</span>
            <span class="borderleft">自如找房</span>
        </div>
        <p>Copyright©2017 ziroom.com</p>
    </footer>
</div>