<div class="wrap">
    <div class="app-wrapper">
        <!-- header -->
        <div class="seach-wrapper">
            <div class="back">
                <a href="#home">
                    <i class="yo-ico">&#xe6d8;</i>
                </a>
            </div>
            <div class="input-wrapper">
                <div class="icon-search">
                    <i class="yo-ico">&#xe613;</i>
                </div>
                <a href="#search">
                    <div class="input-text">输入您想住的区域或小区</div>
                </a>
            </div>
        </div>
        <!-- nav -->
        <div class="fillter-wrapper">
            <ul class="nav">
                <li class="after act">
                    <span>合租</span>
                </li>
                <li class="after">
                    <span>位置</span>
                </li>
                <li class="after">
                    <span>租金</span>
                </li>
                <li class="after">
                    <span>筛选</span>
                </li>
            </ul>
            <div class="filter-view-wrapper">
                <!-- 合租 -->
                <div class="hezu filter-hov">
                    <div class="hezu-content-wrapper">
                        <ul>
                            <li>
                                <h3>自如友家</h3>
                                <p>[合租]百万自如客的品质合租公寓</p>
                                <div class="checkbox-box">
                                    <p>不限</p>
                                    <p>不限</p>
                                    <p>不限</p>
                                    <p>不限</p>
                                </div>
                            </li>
                            <li>
                                <h3>自如整租</h3>
                                <p>[整租]成套出租的自如原创设计风格公寓</p>
                                <div class="checkbox-box">
                                    <p>不限</p>
                                    <p>1居</p>
                                    <p>2居</p>
                                    <p>3居</p>
                                </div>
                            </li>
                            <li>
                                <h3>业主直租</h3>
                                <p>[整租]业主原装 百里挑一</p>
                                <div class="checkbox-box">
                                    <p>不限</p>
                                    <p>1居</p>
                                    <p>2居</p>
                                    <p>3居</p>
                                </div>
                            </li>
                            <li>
                                <h3>豪宅</h3>
                                <p>[豪宅]唯一标准是唯一</p>
                                <div class="checkbox-box">
                                    <p>不限</p>
                                    <p>1居</p>
                                    <p>2居</p>
                                    <p>2居+</p>
                                </div>
                            </li>

                        </ul>
                        <div class="hezu-btns-wrapper">
                            <button class="bths rest-btn">重置</button>
                            <button class="confrim-btn">确认</button>
                        </div>
                    </div>

                </div>
                <!-- 位置 -->
                <div class="weiz filter-hov">
                    <div class="box">
                        <div class="weiz-left">
                            <div class="weiz-left-div">附近</div>
                            <div class="weiz-left-div">商圈</div>
                            <div class="weiz-left-div">地铁</div>

                        </div>
                        <div class="weiz-right">
                            <div class="weiz_right_p">
                                <p>
                                    <span>附近</span>
                                </p>
                                <p>不限</p>
                                <p>东城</p>
                                <p>西城</p>
                                <p>朝阳</p>
                                <p>海淀</p>
                                <p>丰台</p>
                                <p>石景山</p>
                                <p>通州</p>
                                <p>昌平</p>
                                <p>大兴</p>
                                <p>顺义</p>
                                <p>房山</p>
                                <p>门头沟</p>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- 租金 -->

                <!-- 筛选 -->
            </div>
        </div>
    </div>
    <div class="scroll">
        <div class="main">
            <!-- 渲染数据 -->
        </div>
    </div>
    <!-- 加载更多 -->
</div>