<div class="ziruServer">
    <header>
        <span>北京</span>
        <i class="yo-ico">&#xe62f;</i>
    </header>
    <div class="banner"></div>
    <main>
        <ul>
            <li>
                <h2 class="title">自如服务</h2>
                <p>面向所有用户的品质服务</p>
                <div>
                    <img src="http://s.m.ziroom.com/static/serve/img/index/banjia.png">
                    <img src="http://s.m.ziroom.com/static/serve/img/index/baojie.png">
                    <img src="http://s.m.ziroom.com/static/serve/img/index/weixiu.png">
                </div>
            </li>
            <li>
                <h2 class="title">自如优品</h2>
                <p>品质家居服务，找到生活的归属</p>
                <div>
                    <img src="http://s.m.ziroom.com/static/serve/img/index/jiaju.png">
                    <img src="http://s.m.ziroom.com/static/serve/img/index/jiaju1.png">
                    <img src="http://s.m.ziroom.com/static/serve/img/index/art.png">
                </div>
            </li>
            <li>
                <h2 class="title">热门推荐</h2>
                <p>体验优质服务，享受美好生活</p>
                <div>
                    <img src="http://image.ziroom.com/g2/M00/4F/59/ChAFFVjkmh6AWu1IAACIF7aXplM822.png">
                    <img src="http://image.ziroom.com/g2/M00/09/DD/ChAFD1kRoceAM7JTAABt1DhFGOo962.png">
                    <img src="http://image.ziroom.com/g2/M00/4F/59/ChAFFVjkmkeALovMAACfisrK6VQ721.png">
                    <img src="http://image.ziroom.com/g2/M00/4F/59/ChAFFVjkmjaAEdjbAACuqNfDFC8140.png">
                </div>
            </li>
            <li>
                <h2 class="title">服务者故事</h2>
                <p>倾听他们的故事</p>
                <div>
                    <ul>
                        <li>
                            <div>
                                <p>保洁阿姨的治愈系</p>
                                <h3>工作有分工，职业无贵贱</h3>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>搬家暖男“兄弟连”</p>
                                <h3>阳光爱笑，言谈憨厚</h3>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>90后维修师傅【小咖秀】</p>
                                <h3>最好的工作状态是“痛并快乐着”</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </main>
</div>